.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}

.background {
    position: absolute;
    height: 100vh;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
}

.conteudo__input {
    border-radius: 22px;
    border: 1px solid #999;
    background-color: transparent;
    font-size: 18px;
    padding: 12px;
    min-width: 300px;
    margin-right: 10px;
    color: #b4b8ee;
}

.conteudo__button {
    border-radius: 22px;
    border: 1px solid #999;
    background-color: #2d333b;
    font-size: 18px;
    padding: 12px;
    min-width: 300px;
    margin-right: 10px;
    color: #b4b8ee;
    cursor: pointer;
}

.conteudo__button:hover {
    background-color: #2d333b71;
    border: none;
}

.conteudo__button:active {
    background: transparent;
    border: none;
}

.perfil {
    display: flex;
    margin: 40px 0;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #999;
    margin-right: 32px;
}

.perfil h3 {
    color: #999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999;
    font-size: 12px;
    margin: 20px 0 0 0;
}

.repositorio {
    font-size: 32px;
    color: white;
    margin: 12px 0;
    text-align: center;
}